*{
    margin: 0;
    padding: 0;
}
input::-webkit-input-placeholder { /* WebKit browsers 适配谷歌 */
    color: #ccc;
}
.bg{
    background: url(https://passport.baidu.com/static/passpc-account/img/reg_bg_min.jpg);
    background-size: cover;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.bg img{
    width: 100%;
    height: 100%;
    display: none;
}
.word{
    position: fixed;
    top: 60px;
    left: 70px;
    width: 124.4px;
    height: 40px;
}
.word img{
    width: 100%;
    height: 100%;
}
.word1{
    position: fixed;
    left: 195px;
    top: 314px;
    color: #fff;
}
.word1 h3{
    font-size: 54px;
    letter-spacing: 0;
    font-weight: 700;
}
.word1 p{
    font-size: 32px;
    letter-spacing: 3.81px;
    font-weight: 300;
}
.word2{
    position: fixed;
    left: 70px;
    bottom: 57px;
    font-size: 14px;
    color: #fff;
    
}
.word2-sp1{
    position: fixed;
    left: 70px;
    bottom: 57px;
    font-size: 14px;
    color: #fff;
    opacity: 0.8;
}
.word2-sp1-a1{
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}
.word2-sp1 span{
    display: inline-block;
    width: 2px;
    height: 12px;
    filter: alpha(opacity=78);
    opacity: .78;
    margin: 0 12px 0 13px;
    background: #fff;
    position: relative;
    top: 1px;
}
.word2-sp1-a2{
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url(https://passport.baidu.com/static/passpc-account/img/reg/service-2x.png);
    background-size: 100%;
    position: relative;
    top: 3px;
}
.word2-sp2{
    opacity:0.54;
    font-size: 12px;
    color: #fff;
    display: inline-block;
    padding-left: 30px;
    position: fixed;
    left: 180px;
    bottom: 57px;
}
.form{
    height: 632px;
    margin-top: -316px;
    position: absolute;
    right: 139px;
    top: 50%;
    /* margin-top: -340px; */
    width: 480px;
    /* height: 680px; */
    background: rgba(255,255,255,.9);
    border-radius: 12px;
    overflow: hidden;
}
.formt{
    margin: 50px 0 22px 39px;
}
.formt h3{
    font-size: 36px;
    color: #000;
    padding-bottom: 4px;
}
.formt p{
    font-size: 14px;
    color: #9B9B9B;
}
#login{
    color: #2e58ff;
    cursor: pointer;
}
.formb{
    position: relative;
    width: 720px;
    overflow: hidden;
    padding-top: 48px;
    float: left;
}
.formb-form p{
    /* width:90%; */
    margin-left: 5%;
    position: relative;
    clear: both;
    margin-bottom: 40px;
    zoom: 1;
}
#input1{
    padding: 11px 10px;
    max-height: 40px;
    background: #fff;
    border: 1px solid #E0E0E0;
    border-radius: 4px;
    font-size: 14px;
    width: 321px;
    color: #000;
}
#input2{
    padding: 11px 10px;
    max-height: 40px;
    background: #fff;
    border: 1px solid #E0E0E0;
    border-radius: 4px;
    font-size: 14px;
    width: 321px;
    color: #000;
}
#input3{
    padding: 11px 10px;
    max-height: 40px;
    background: #fff;
    border: 1px solid #E0E0E0;
    border-radius: 4px;
    font-size: 14px;
    width: 321px;
    color: #000;
}
#input4{
    padding: 11px 10px;
    max-height: 40px;
    background: #fff;
    border: 1px solid #E0E0E0;
    border-radius: 4px;
    font-size: 14px;
    width: 321px;
    color: #000;
}
label{
    
    font-size: 14px;
    color: #333;
    letter-spacing: 0;
    text-align: right;
    width: 82px;
    height: 40px;
    line-height: 40px;
    margin-right: 15px;
    font-weight: 200;
}
#input4{
    width: 184px;
    margin-right: 9px;
}
#but1{
    width: 122px;
    border-radius: 4px;
    background: #fff;
    border: 1px solid #E0E0E0;
    font-size: 12px;
    color: #333;
    letter-spacing: 0;
    text-align: center;
    line-height: 40px;
    max-height: 40px;
    cursor: pointer;
}
.input3-img{
    width: 16px;
    height: 16px;
    position: absolute;
    top: 12px;
    left: 378px;
    background: url(https://passport.baidu.com/static/passpc-account/img/reg/pwdtip-2x.png);
    background-size: 100%;
}
#but2-div{
    padding-top: 20px;
    margin-top: 0;
    margin-bottom: 10px;
}
#but2{
    background: #BDCEFC;
    border-radius: 25px;
    width: 399px;
    height: 50px;
    display: block;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    color: #fff;
    border:0;
    /* bottom:10px; */
}
.formb-word{
    margin-left: 41px;
    width: 399px;
    text-align: center;
    font-size: 12px;
}
.formb-word a{
    color: blue;
}
.formb-word input{
    position: relative;
    /* top: -2px; */
    vertical-align: middle;
    margin-right: 2px;
    /* left:-60px; */
}
#input10{
    position: absolute;
    left: 65px;
    height: 16px;
    padding: 0;
    top: 43px;
    font-size: 12px;
    color:red;
}
#input20{
    position: absolute;
    left: 65px;
    height: 16px;
    padding: 0;
    top: 43px;
    font-size: 12px;
    color:red;
}
#input30{
    position: absolute;
    left: 65px;
    height: 16px;
    padding: 0;
    top: 43px;
    font-size: 12px;
    color:red;
}
#input40{
    position: absolute;
    left: 65px;
    height: 16px;
    padding: 0;
    top: 43px;
    font-size: 12px;
    color:red;
}
/* input:focus{outline:none;} */
